.detail-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}


.detail-container img {
    width: 100%;
    border-radius: 10px;
}

.heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.list {
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-gap: 3rem;
}

.list-item {
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.list-icon {
    width: 2rem;
    height: 2rem;
}

.description {
    grid-column: 1 / -1;
}

.about {
    text-align: center;
    border: 1px solid black;
    width: 35rem;
    border-radius: 10px;
    margin-left: 35%;
}

.description div {
    font-size: 1.8rem;
    line-height: 3rem;
}